@using PackerTracker.Models
@{
  ViewBag.Title = "List of your things";
  Layout = "_Layout";
}

<h1>Welcome to Packer Tracker</h1>

@if (Model.Count == 0)
{
  <h4>There are no items on your list.</h4>
}
else
{
  <ul>
  @foreach (ThingsToBring thing in Model)
  {
    <li>Item name: @thing.Name
      <ul>
        <li>Price: @thing.Price</li>
        <li>Purchased? @thing.IsPurchased</li>
        <li>Weight: @thing.Weight</li>
        <li>Manufacturer: @thing.Manufacturer</li>
        <li>Did you pack it: @thing.IsPacked</li>
      </ul>
    </li>
  }
  </ul>
}

<a href="/thingstobring/new">Create new thing to pack</a>
<a href="/thingstobring/deleteall"> Delete all Items from your list</a>