<ul>
  <li>Item name: @Model.Name
    <ul>
      <li>Price: @Model.Price</li>
      <li>Purchased? @Model.IsPurchased</li>
      <li>Weight: @Model.Weight</li>
      <li>Manufacturer: @Model.Manufacturer</li>
      <li>Did you pack it: @Model.IsPacked</li>
    </ul>
  </li>
</ul>

<a href="/thingstobring">See your list of things</a>